/* Site Styles */

body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container {
    justify-content: center;
    margin-left: 8vw;
    max-width: 50rem;
    margin-right: 8vw;
}

.headline {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 42px;
}

.recipe-item {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#buttons {
  background-color: rgb(111, 106, 106);
  display: block;
  margin: 0 auto;
  padding: 6px 18px;
}

h2 {
    text-align: center;
}

h4 {
  text-align: center;
}

.index-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  max-width: 600px;
}

.recipe-page-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-width: 700px;
}

p,
a {
  font-family: "Georgia", serif;
}

* {
  background-color: grey;
  color: white;
}
